# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore PyCharm project settings
.idea/

# Ignore Selenium WebDriver files
chromedriver.exe
geckodriver.exe

# Ignore output files
*.pdf
*.png
*.jpg
*.jpeg

# Ignore configuration files
config.json
